
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.active{
@apply text-[#652FE3]
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}